p{
    color: green;
}
.custom-color {
    color: yellow;
}
a[href^="http"] {
    color: red;
}
ul.list>li:last-child>a {
    background-color: green;
}
ul+p {
    font-size: 26px;
}
body{background-color:aqua}